/* .todo{
  background-image: url(../img/fondo_de_create.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.About {
    width: 650px;
    height: 650px;
    margin-left: 400px;
    border-radius: 10%;
    border: 2px solid #02b386;
    background-color: #02b386;
    box-shadow: 15px 5px 10px 10px  #0c0c0c;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 1px 1px rgb(4, 148, 35);
    color:#070707;
    padding:100px 8px 5px 8px;
}

.title6 {
  
  /* margin-left: 100px; */
  /* margin-top: 100px;
  padding: 100px;
}
 */

