.fondo{
  /* width: 100%; */
  padding:150px;
}
.fondoNav{
  background-image: url(../img/fondeo_de_home.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  margin :auto;
  /* padding: 20px */
  width: 100%;
}
.base3 {
  font-size: 30px;
  margin: 5px;
}

.paginado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paginado2 {
  margin-top: 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titleHome {
  color: #00a738;
  font-family: verdana, arial, helvetica;
  box-shadow: inset;
  border-color: rgb(26, 29, 27);
  background: rgb(0, 0, 0);
  font-size: 150px;
  z-index: -1;
}

#botonCreate {
  margin: 10px 70px;
  padding: 10px;
  height: 5%;
  width: 15%;
  font-size: 25px;
  color: #000000;
  border-radius: 15px;
  background-color: #00a738;
  font-family: "Lucida Console", "Courier New", monospace;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #000000;
  font-weight: bold;
}

#botonCreate:hover {
  color: rgb(2, 2, 2);
  background-color: #07cc27;
}

#home {
  width: 45px;
  height: 45px;
}

#home:hover {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 25%;
}
.principal {
  display: flex;
  justify-content: space-evenly;
}

.header {
  background-color: rgba(255, 255, 255, 0.199);
  padding-bottom: 1%;
}
.ubboton {
  display: flex;
  /* justify-content: end; */
  margin-right: 8%;
}

.errorBack{
  background-image: url(../img/fondeo_de_home.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  /* margin :100%; */
  /* padding: 20px */
  /* width: 100%; */
  /* margin-top:700px; */
}

.h1{
  /* width: 100%;
  height: 100%; */
  text-align:justify;
  /* height: 100%; */
  margin-top: 830px;
  /* padding: 80px; */
}

.imagenError{
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}