.fondo1 {
  background-color: #fff;
  position: fixed;
  padding-top: 140px;
  margin-top: -110px;
  width: 100%;
  text-align:center;
  word-wrap: break-word;
}

.botonfiltro {
  color: #000;
  font-family: "Lucida Console", "Courier New", monospace;
  cursor: pointer;
  font-size: 18px;
  justify-content: center;
  background-color: #00a738;
  border-color: #00a738;
  border-style: outset;
  border-radius: 10px;
  border-width: 5%;
  padding: 4px 4px 4px 4px;
  margin-left: 20px;
  height: 40px;

}
.botonfiltro:hover {
  background-color: #00a738;

}
.filtros {
  display: flex;
  justify-content: space-evenly;
}
option {
  justify-content: center;
}
