.buscador {
  background-color: rgba(255, 255, 255, 0.918);
  font-size: 17px;
  margin-top: 1px;
  font-family: "Lucida Console", "Courier New", monospace;
  justify-content: center;
  border: 1px solid #070808;
}
.buscador:hover {
  background-color: #eeeeee;
  border: 1px solid #000000;
}
.search {
  display: flex;
  justify-content: flex-end;
  margin-left: 1px;
}
.figurabuscador {
  display: flex;
  margin-left: 15px;
  margin-block-end: 3%;
  border-radius: 50px;
  padding-inline: 10px;
  padding-right:60px;
  padding-block: 5px;
  max-width: 5%;
  max-block-size: 1%;
  font-family: "Lucida Console", "Courier New", monospace;
}
